@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
        color: blue;
    }
}

body h1{
    font-style: italic;
    text-align: center;

}

.row{
    margin-top: 30px;
}

.col-lg-12{
    background: #b3ecff;
    text-align: center;
}

.list-commands{
justify-content: center;
    /*margin-left:20%;*/
}

.voice-recorder-container-padding{
    padding: 0 15px;
    position: relative;
}

.voice-recorder-container{
    width:100%;
    height: 300px;
    background-color: blue;
    position: relative;
    border-radius: 20px;
    background: radial-gradient(ellipse at center,rgba(123,0,199,.1) 0,rgba(255,255,255,0) 70%) 25% 60px no-repeat,radial-gradient(ellipse at center,rgba(0,252,255,.1) 0,rgba(0,252,255,0) 70%) 75% -130px no-repeat,radial-gradient(ellipse at center,#1a2f7d 0,#232b56 100%);
}

.press-mic-message{
    padding-top: 7%;
    margin-top: 2%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(255,255,255,.5);
    /*color: black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: visible;
    /*opacity: 0;*/
    /*z-index: -10;*/
    pointer-events: none;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10%;
}

.bottom-menu{
    position: absolute;
    font-size: 0;
    display: block;
    left: 50%;
    transition: all .2s;
}

.flex-left{
    position: relative;
    justify-content: flex-start;
    width: 33%;
}

.flex-centre{
    position: relative;
    display: block;
    width: 100%;
    /*justify-content: center;*/
}

.flex-right{
    display: flex;
    width: 33%;
    align-items: center;
    flex: 1;
}

.button-record{
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,.3);
    box-sizing: border-box;
    transition: all .2s;
    position: absolute;
    font-size: 0;
    margin: auto;
}

.icn-record {
    font-size: 0;
    display: block;
    padding: 0;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #f03;
    box-sizing: border-box;
    transition: background-color .2s,opacity .2s,transform .2s;
    transform-origin: center center;
    transform: translate(-50%,-50%);
    position: relative;
    top: 50%;
    left: 50%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.icn-record:hover{
    width: 52px;
    height: 52px;
    transition: background-color .2s,opacity .2s,transform .2s;

}

.icn-record svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .2s;
    opacity: 1;
}

.text-box {
    background: white;
    border-radius: 20px;
    width: 60%;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*margin: auto;*/
    /*width: 33%;*/
    max-height: 70vh;
    height: 30px;
    /*overflow: scroll;*/
    padding-bottom: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-box:focus {
    outline: none;

}
.text-box p {
    /*border-bottom: 1px dotted black;*/
    margin: 0px !important;
}

#typewriter-paragraph{
    color: black;
    position: absolute;
    top: 25%;
    font-size: 25px;
    text-underline-mode: true;
}


.btn.btn-danger{
    cursor: pointer;
    border-radius: 50%;
    left: 50%;
    position: relative;
    background-color: #f03;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    transition: background-color .2s,opacity .2s,transform .2s;
}

.btn.btn-danger:hover{
    size: 10px;
}

@media (max-width: 768px) {

.container{
    padding: 5vw;
}

    .voice-recorder-container {
        height: 50vw;
        position: relative;
    }

    #typewriter-paragraph{
        color: black;
        position: absolute;
        top: 25%;
        font-size: 10px;
        text-underline-mode: true;
        /*text-transform: capitalize;*/
        margin: auto;
    }


    body {
        /*text-align: center;*/
        margin: auto;
    }

    .text-box {
        max-height: 55vh;
        top: 40vw;
        background: white;
        width: 80%;
    }

    .btn.btn-danger{
        position: relative;
        left: 50%;
    }
}
